#app-mount
{   // Changement Couleur Baniere Discord
    .wrapper_a7e7a8{
        background-color: #004EA2;
    }
.guildSeparator_dcb3cc{
background-color: #fff;
}
// Icone Serveur

.base__3e6af{
    .sidebar_ded4b5{
        // Liste Amis et Search Bar
        .privateChannels__93473{
               //  Liste amis
               .scroller__4b984{
                    // Liste
                .channel_c21703{

                }
                //Title 
                .privateChannelsHeaderContainer_ddcec6{

                }
               }
                 // Search Bar Left
                .searchBar_e4ea2a{
            
        }
        }
        // Menu Vocal
        .panels__58331{
            // Icone
            .flex_f5fbb7{
                button{

                }
            }
        }
      
    }   
    // Main Content 
    .container__5c7e7{
        //Upper Container
        .container__11d72{
            .children__32014{

            }
            //ToolBar
            .toolbar__88c63{

            }
        }
        // Main Section
        .tabBody_b3d268{
            // Friends 
            .peopleColumn__51df3{
                    
            }
            // Playing
            .nowPlayingColumn_f5023f{
                .itemCard__1f162 {
                    background-color: #001AA2;
                    //Activity 
                    .body__83069, .section_efc22d{
                        background-color: #004EA2;
                    }
                }
            }
        }
    }
}
}