#app-mount
{   // Changement Couleur Baniere Discord
    .wrapper_a7e7a8{
        background-color: #004EA2;
    }
.guildSeparator_dcb3cc{
background-color: #fff;
}
// Icone Serveur

}
  
.body__83069, .section_efc22d{
    background-color: #004EA2;
}

.searchBar_e4ea2a .searchBarComponent__22760{
color: #004EA2 ;
background-color: #fff;
}
.privateChannels__93473{
background-color: #004EA2;
}   
.content__23cab{
background-color:#004EA2 ;

}
.content_f767b8{
color: #fff;
}
.interactiveSelected_ec846b{
background-color:#004EA2;
}
.linkButtonIcon__2f35b{
color: #fff;
}

.privateChannelsHeaderContainer_ddcec6{
color: #fff;
}
.panels__58331{
background-color:  #004EA2; 
}
.container_ca50b9{
background-color:  #004EA2;
}
.expandedFolderBackground__1bec6{
background-color: #fff;
}
.expandedFolderBackground__1bec6  .listItem_fa7b36{
background-color: red;
}

.bg__12180{
background-color: #003671;
color: #fff;
}


// Bouton Télécharger
.circleIconButton_d8df29{
    color: #004EA2;
    background-color: #fff;
}