.bg__12180{
    background-color: var(--bg-primary);
    color: #fff;
    }
/** Liste Amis*/
.tabBody_b3d268{
    background: var(--bg-image) ;
    background-size: cover;
    background-repeat: no-repeat;
             
    }    
.container__0a6a9{
        background-color: transparent;
    }
.nowPlayingColumn_f5023f{
        background-color: transparent;
    }
    
/** Now Playing*/
.itemCard__1f162{
    background: var(--bg-secondary);
}
.body__83069, .section_efc22d{
    background-color: var(--bg-tertiary);
}    




/** People List Separator*/
.peopleListItem_d14722{
    border-top-color: var(--bg-reverse) ;
}
/** People List actions*/
.icon__7215c{
    color: var(--bg-primary);
}
.actionButton__23182{
    background-color: var(--icon-color-reverse);
}
/** People List Recherche*/
.searchBar_ff8800{
    background-color: #fff ;
}

/** SearchBar Left*/
.searchBar_e4ea2a .searchBarComponent__22760{
    color: #004EA2 ;
    background-color: var(--bg-reverse);
    }
      
 
/** Icones */   
.avatarWithText__17e10{
    color : var(--icone-color-reverse)
}        
.theme-dark .container__590e2{
    background-color: var(--bg-primary);
}
.container__7c79d{
    background-color: var(--bg-primary);
}
.privateChannels__93473{
    background-color: var(--bg-primary);
}
/** Messages Privés*/
.theme-dark .scroller__4b984{
    background-color: var(--bg-primary);
}
/** Titre */
.privateChannelsHeaderContainer_ddcec6{
    color: var(--text-color);
}
