@import "./friendlist.css";
@import "./modal.css";
@import "./nav.css";
@import "./notification.css";
@import "./server.css";
@import "./setting.css";
@import "./user.css";

/** Window Bar*/
.typeWindows__5fa63{
    padding: 3px;
    margin-top: 0;
    background-color: var(--bg-primary) ;
}
.wordmarkWindows__05c46{
    color : var(--text-color)
}


/**Declaration Variables*/
:root{
    --bg-primary : #1B2681;  
    --bg-secondary : #313b8d;
    --bg-tertiary : #48519a; 
    --bg-reverse : #fff;

    --text-color : #fff;
    --inverse-text : #1B2681; 

    --disabled : #6F6F6F; 
    --icone-color : #1B2684;
    --icone-color-reverse : #fff; 

    --bg-image : url("https://i.imgur.com/cqe8lOy.png");
    --separator-color : #fff;
    --bg-hover : #004EA2;
    --selected-color : #004EA2;
    --selected-bg : #fff; 
    /*overlay*/ 
    /*btn*/

}



