/**Search Channel*/
    .searchBar_e0c60b{
        color: #004EA2;
        background-color: #fff;
    }
.content__1a4fe::before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: var(--bg-image) ;
        width: 100%;
        height: 100%;
        filter: brightness(70%);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
      }
    
    .container_b2ce9c{
        background:transparent;
    }
    .container__93316{
        background: transparent;
    }
    .chatContent__5dca8{
        background: transparent;
    }
    .overlayContainer_b3bf6b{
        background: transparent;
    }
/** Message*/
    .theme-dark .form__13a2c:before{
        background-color: transparent;
    }
    .channelTextArea__2e60f{
        background-color: var(--bg-secondary) ;
    }
    .themedBackground__6b1b6{
        background-color: var(--bg-secondary) ;      
    }
    .textArea__74543, .placeholder_e68c63 {
        color : #fff
    }
/**Member Server*/
    .members__9f47b {
        background: none;
    } 
    .member_b44d5d{
        background-color: var(--bg-secondary);
        border-radius: 0px;
    }
    .membersGroup__85843{
        margin-left: 8px ;
        background-color: var(--bg-secondary);
        margin-top: 30px ;  
        max-width: 224px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        color: var(--text-color) !important;
        
    }
     .membersGroup__85843 ~ .member_aa4760{
        border-bottom-left-radius: 8px ;
        border-bottom-right-radius: 8px;
    }         
    .icon_ef4486, .container_de798d, .button_afdfd9, .username__73ce9{
        color: var(--inverse-text);
    }
/** Channels*/
    .name__8d1ec{
        color: #fff;
    }
    .sectionDivider__68d2a{
        background-color: #fff;
    }
    .icon_eff5d4{
        color: #fff;
    }
    .icon_ef4486, .container_de798d, .button_afdfd9, .username__73ce9{
        color: #fff;
    }
    .clickable_d23a1a .icon__4cb88{
        color: #fff;
    }
/**Channel Selected*/
    .interactiveSelected_ec846b{
        background-color: var(--bg-tertiary);
        }
/** Icone Serveur*/

        