/** Paramètres*/
.standardSidebarView__1129a{
    background: var(--bg-image);
}
.sidebarRegion__60457{
    background-color:   rgba(0, 78, 162, 0.5);
  }
  .contentRegion__0bec1{
       background-color:   rgba(0, 78, 162, 0.5);
  }
  .header_f72511{
    color: #fff;
}
.themed_b957e8.item__48dda{
    color: #fff;
}
.h5__884a2, .label__5447e, .legend__31ccc{
color: #fff;
}
.labelDescriptor__6432e, .description__7af71{
color: #fff;
}
.sidebarRegionScroller__1fa7e{
    background-color: transparent;
}
.contentRegion__0bec1{
    background: none;
}
.contentRegionScroller__86c79{
    background-color: transparent;
}