/** Menu Vocal Utilisateur*/
.panels__58331{
   background-color: var(--bg-reverse);
}
.theme-dark .container_ca50b9{
   background-color: var(--bg-reverse);
}   
/** Icone Menu Stream */
button.button__4f306{
   color: var(--icone-color);
}
.button_afdfd9:disabled, .button_afdfd9[aria-disabled=true]{
    color: var(--disabled);
}
/** Activity */
.theme-dark .panel_bd8c76{
    background-color: var(--bg-reverse);
}
.text-sm-normal_e612c7{
    font-weight: 800;
    color: var(--inverse-text-color) ;
}
.button.button__4f306{
    color: var(--inverse-text-color) ;
}