/** Menu Vocal Utilisateur*/
.panels__58331{
   background-color: #004EA2;
}
.theme-dark .container_ca50b9{
   background-color: #004EA2;
}   
/** Icone Menu */
button.button__4f306{
   color: #fff;
}
/** Activity */
.theme-dark .panel_bd8c76{
    background-color: #004EA2;
}
